.oneline-input-container {
  overflow: hidden;
  padding-right: 0.1em;
  .oneline-input {
    width: 100%;
    height: 34px;
  }
}

.oneline-button {
  float: right;
}

.center {
  text-align: center;
}

.search-input {
  width: 100%;
  height: 40px;
}